@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aquí pueden ir otros estilos globales si los hay */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background-color: #ffffff;
}